todo

*.mod
*.out

forpy_mod.o
forpy_mod.mod

del*

__pycache__/

lspost.cfile
lspost.msg

*.bg_switch
*.d3dump*
*.d3hsp
*.d3plot*
*.group_file
*.kill_by_pid
*.messag
*.dyna.*
*.status.out
*.disk.*
*.elout*
*.part_des*
*.spooles.*
*.db
*.tprint

*.mp4
*.png
*.pdf
*.xcf

*.7z
*.zip

*.idea

.ipynb_checkpoints

exclude_*

ls-dyna_smp_d_R12_0_0_x64_redhat65_ifort160.tgz
